{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <h1 class="display-5" style="font-weight: bolder; font-style: italic; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(248, 247, 247); text-align: center;"><u>DEFENCE EXAMS</u></h1>
    </div>
    <div class="row">
        <div class="col-sm-md-lg-xl">
            <p style="font-size: larger; font-weight: bolder; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> More than 5 lakhs students appear every year for various exams conducetd by the UPSC to join the  most coveted and respectable jobs in India. Through these defence exams, the candidates are selected for Indian Defence Academies like Indian Military Academy (IMA), Dehradun, Indian Naval Academy (INA), Ezhimala, Air Force Academy (AFA), Dundigal, Officer's Trainer Academy (OTA) in Chennai and Gaya, etc.<br> The different defence exams conducted in India are: </p>
            <ol style="background-color: rgb(252, 248, 248); color: black; font-weight: bolder;">
                <li>NDA (NATIONAL DEFENCE ACADEMY/ NAVAL ACADEMY)</li>
                <li>CDS (COMBINED DEFENCE SERVICES)</li>
                <li>AFCAT (AIR FORCE COMMON ADMISSION TEST</li>
                <li>CAPF (CENTRAL ARMED POLICE FORCE)</li>
            </ol>
        </div>
    </div>
</div>
    <hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-md-lg-xl" style="background: linear-gradient(to bottom right, rgb(197, 228, 113), rgb(58, 111, 128)); margin-bottom: 10px;">
            <h3 class="display-8" style="font-weight: bolder; font-style: italic; ">NDA (NATIONAL DEFENCE ACADEMY/ NAVAL ACADEMY)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/images/Sudan_Building_NDA_Logo.jpg" alt="NDA logo" style="width:100%; height:auto;">
        </div>
        <div class="col-sm-9" style="background-color: rgb(255, 255, 255); margin-bottom: 10px;">
            <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;color: black;">National Defence Academy (NDA) is the joint defence service training institute of the Indian Armed Forces, where cadets of the three services i.e. the Indian Army, the Indian Navy and the Indian Air Force train together. It is located in Khadakwasla, Pune, Maharashtra. <br> Candidates interested to join the defence after 12th are required to take the NDA written exam conducted twice by the UPSC every year, followed by extensive interviews by the Services Selection Board. Eligiblity criteria for NDA exam: <br>
            <table class="table table-hover" style="background: linear-gradient(to bottom right, rgb(255, 251, 26), rgb(58, 111, 128));">
                <thead>
                    <tr>
                        <th scope="col-sm ">AGE/EDUCATIONAL</th>
                        <th scope="col-sm" style="color: blue ; font-weight: bolder;">CRITERIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Minimum Age</th>
                        <td>16 years during the commencement of the course</td>
                    </tr>
                    <tr>
                        <th scope="row">Maximum</th>
                        <td>19 years during the commencement of the course</td>
                    </tr>
                    <tr>
                        <th scope="row">Army Wing(NDA)</th>
                        <td>Pass certificate (10+2 exam) from a recognized board or University.</td>
                    </tr>
                    <tr>
                        <th scope="row">Air Force and Naval Wings</th>
                        <td>10+2 or equivalent from State Education Board or University with Physics and Mathematics.</td>
                    </tr>
                    <tr>
                        <th scope="row">10+2 Cadet Entry Scheme at the Indian Naval Academy</th>
                        <td>Passed 10+2 or equivalent from State Education Board or University with Physics and Mathematics.</td>
                    </tr>
                </tbody>
            </table>
            </p>
            <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;color: black;">
            The syllabus and resources related to the preparation of NDA is present in the Resource section of the website, <a href="{{ url_for('resources') }}" target="_blank">Click Here</a></p> 
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-md-lg-xl" style="background: linear-gradient(to bottom right, rgb(197, 228, 113), rgb(58, 111, 128)); margin-bottom: 10px;">
            <h3 class="display-8" style="font-weight: bolder; font-style: italic; ">CDS (COMBINED DEFENCE SERVICE)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/images/ima.jpg" alt="NDA logo" style="width:100%; height:auto;">
        </div>
        <div class="col-sm-9" style="background-color: rgb(255, 255, 255); margin-bottom: 10px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;color: black;">
            <p >Combined Defense Service examination is conducted by the UPSC (Union Public service Commission twice a year, for recruitment of Commissioned Officers in the Indian Military Academy, Officer Training Academy, Indian Naval Academy and Indian Air for Academy.<br>Only unmarried candidates can appear for this examination. Those who qualifies the written exam are called for interview conducted by the <a href="{{ url_for('ssb') }}" target="_blank">Service Selection Board (SSB).</a></p>
            <ol>
                <li style="font-weight: bolder;"><u>Pattern:</u></li>The CDS-OTA exam has 2 subjects English (120 Questions) and General Awareness (120 Questions). The exam duration is 2 hours for each subject. The language of paper is both hindi and english for General Awareness subject. Total marks for CDS-OTA exam is 200, 100 marks for each subject. <br>The CDS-IMA exam has 3 subjects, Maths (100 Questions), English (120 Questions) and General Awareness (120 Questions). The exam duration is 2 hours for each subject. The language of paper is both hindi and english for General Awareness subject and Mathematics. Total marks for CDS-IMA exam is 300, 100 marks for each subject.

                <li style="font-weight: bolder;">AGE LIMIT</li>
                <table class="table table-hover" style="background: linear-gradient(to bottom right, rgb(255, 251, 26), rgb(58, 111, 128));">
                    <thead>
                        <tr>
                            <th scope="col-sm ">Academy</th>
                            <th scope="col-sm" style="color: blue ; font-weight: bolder;">Age Limit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Indian Military Academy</th>
                            <td> 19-24 years</td>
                          </tr>
                          <tr>
                            <th scope="row">Air Force Academy</th>
                            <td> 19-24 years</td>
                          </tr>
                          <tr>
                            <th scope="row">Naval Academy</th>
                            <td> 19-24 years</td>
                          </tr>
                          <tr>
                            <th scope="row">Officers Training Academy</th>
                            <td> 19-25 years</td>
                          </tr>
                        </tbody>
                </table>
            </ol>
            
            The syllabus and resources related to the preparation of CDS is present in the Resource section of the website, <a href="{{ url_for('resources') }}" target="_blank">Click Here</a></p> 
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-md-lg-xl" style="background: linear-gradient(to bottom right, rgb(197, 228, 113), rgb(58, 111, 128)); margin-bottom: 10px;">
            <h3 class="display-8" style="font-weight: bolder; font-style: italic; ">AFCAT (Air Force Common Admission Test)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/images/Tejas.jpg" alt="NDA logo" style="width:100%; height:auto;">
        </div>
        <div class="col-sm-9" style="background-color: rgb(255, 255, 255); margin-bottom: 10px;">
            <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;color: black;">AFCAT (Air Force Common Admission Test) is conducted by Air Force Selection Board for recruitment of ground and flying staff of Indian Air Force (IAF). Air Force Selection Board is the recruitment wing of Indian Air Force. It is conducted in two stages, in first stage it is written test and second stage involves testing process. The call letters to report Dehradun, Mysuru, Gandhinagar, Varanasi, and Guwahati,(any one of the selection boards) is sent to qualified canditates who cleared written exam to appear for the testing process. <br> The eligiblity conditions are: <br>
                <table class="table table-hover" style="background: linear-gradient(to bottom right, rgb(255, 251, 26), rgb(58, 111, 128));">
                    <thead>
                        <tr>
                            <th scope="col-sm ">Branch</th>
                            <th scope="col-sm" style="color: blue ; font-weight: bolder;">Conditions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Flying Branch</th>
                            <td style="font-weight: bolder;">
                                <ol>
                                    <li>Flying Branch through AFCAT and NCC Special Entry: 20 to 24 years. Upper age limit for candidates holding valid and current Commercial Pilot License issued by DGCA (India) is relaxable upto 26 years</li>
                                    <li> Candidates should have mandatorily passed with a minimum of 50% marks each in Math's and Physics at 10+2 level </li>
                                    <li>Graduation with minimum three years degree course in any discipline from a recognized University with a minimum of 60% marks or equivalent. OR BE/B Tech degree (Four years course) from a recognized University with a minimum of 60% marks or equivalent. OR Candidates who have cleared Section A & B examination of Associate Membership of Institution of Engineers (India) or Aeronautical Society of India from a recognized University with a minimum of 60% marks or equivalent.</li>
                                </ol>
                            </td>
                          </tr>
                        </tbody>
                </table>
            </p>
            <a href="https://en.wikipedia.org/wiki/Air_Force_Common_Admission_Test" target="_blank" style="font-weight: bolder;"> Read further</a> <br>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-md-lg-xl" style="background: linear-gradient(to bottom right, rgb(197, 228, 113), rgb(58, 111, 128)); margin-bottom: 10px;">
            <h3 class="display-8" style="font-weight: bolder; font-style: italic; ">CAPF (Central Armed Police Forces)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/images/CAPF.jpg" alt="NDA logo" style="width:100%; height:auto;">
        </div>
        <div class="col-sm-9" style="background-color: rgb(255, 255, 255); margin-bottom: 10px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;color: black;">
            <p >The Central Armed Police Forces (CAPF) refers to the uniform classification of seven security forces in India under the authority of the Ministry of Home Affairs. They are the Assam Rifles (AR), Central Reserve Police Force (CRPF), Border Security Force (BSF), Central Industrial Security Force (CISF), National Security Guard (NSG), Indo-Tibetan Border Police (ITBP), and Sashastra Seema Bal (SSB).
            <br>Officers in CAPFs are recruited through the CAPF (Assistant Commandants) examination conducted by the UPSC. <br><strong>CAPF Assistant Commandants:</strong>
            <ol>
                <li>Border Security Force (BSF)</li>
                <li>Central Reserve Police Force (CRPF)</li>
                <li>Central Industrial Security Force (CISF)</li>
                <li>Indo-Tibetan Border Police (ITBP)</li>
                <li>Sashastra Seema Bal (SSB)</li>
            </ol>
            </p>
            <ol>
                <li style="font-weight: bolder;"><u>Pattern:</u></li>The CAPF (Assistant Commandant) written exam has two parts: <mark>General Awareness</mark> and <mark> General Studies, Essay and Comprehension</mark>. The exam duration is 2 hours and 3 hours respectively. The language of paper is both hindi and english for both paper. <br>
                The minimum age limit is 20years and the maximum age limit is 25 years.
            
            The syllabus and resources related to the preparation of CAPF is present in the Resource section of the website, <a href="{{ url_for('resources') }}" target="_blank">Click Here</a></p><br>And for the preparation of the essay writing aspirants should follow any one newspaper from the <u>THE HINDU or TIMES OF INDIA</u> , specially the editorial part.
        </div>
    </div>
</div>
<hr>

{% endblock content %}
