{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Create an Account</h5>
          <form method="Post" action="">
            {{ form.hidden_tag() }}

            <div class="form_group">
              {{ form.username.label(class="form-control-label") }}
              {% if form.username.erros %}
                {{ form.username(class="form-control form-control-lg is-invalid ") }}
                <div class="invalid-feedback">
                  {% for errors in form.username.errors %}
                    <span style="color: yellow;">{{ errors }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.username(class="form-control form-control-lg") }}
              {% endif %}
              
            </div>

            <div class="form_group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.erros %}
                {{ form.email(class="form-control form-control-lg is-invalid ") }}
                <div class="invalid-feedback">
                  {% for errors in form.email.errors %}
                    <span style="color: yellow;">{{ errors }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            

            <hr>

            <div class="form_group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.erros %}
                {{ form.password(class="form-control form-control-lg is-invalid ") }}
                <div class="invalid-feedback">
                  {% for errors in form.password.errors %}
                    <span style="color: yellow;">{{ errors }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.password(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            

            <div class="form_group">
              {{ form.confirm_password.label(class="form-control-label") }}
              {% if form.confirm_password.erros %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid ") }}
                <div class="invalid-feedback">
                  {% for errors in form.confirm_password.errors %}
                    <span style="color: yellow;">{{ errors }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            

            <div class="d-grid mb-2">
              <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
            </div>

            <a class="d-block text-center mt-2 small" href="{{ url_for('login') }}" style="color: yellow;">Have an account? Sign In</a>

            <hr class="my-4">
          </form>
        </div>
  </div>
  
</div>
{% endblock content %}
