{% extends 'layout.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 style="margin-top: 15px; text-align: center;"><span class="border border-dark" style="background: rgb(209, 190, 190); color:black; font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bolder;" >Resources</span> </h1>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<div class="container-fluid" style="background-color: white; border-color: brown;">
    <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col-sm ">#</th>
                <th scope="col-sm" style="color: blue ; font-weight: bolder;">Subjects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="#eng" style="color: black; font-weight: bolder;"> English</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="#maths" style="color: black; font-weight: bolder;"> Mathematics</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="#current" style="color: black; font-weight: bolder;"> Current Affairs</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><a href="#polity" style="color: black; font-weight: bolder;"> Polity</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><a href="#history" style="color: black; font-weight: bolder;"> History</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><a href="#geo" style="color: black; font-weight: bolder;"> Geography</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td> <a href="#eco" style="color: black; font-weight: bolder;"> Economics</a></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td><a href="#sci" style="color: black; font-weight: bolder;"> Science</a></td>
              </tr>
            </tbody>
      </table>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="eng">English</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/c/NIMISHABANSAL" target="_blank" style="color: rgb(227, 230, 57);">Nimisha Bansal (Youtube)</a> </li>
                <li style="color: black; font-weight:bolder; font-size: large;">Arihant Objective General English by SP Bakshi</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Hindu Newspaper: It will help in comprehensive passage and Vocab part</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Last year CDS question papers</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Testbook (Not mandatory but if one wants to practise more he/she can go for it)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="maths">Maths</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/c/ABHINAYMATHS" target="_blank" style="color: rgb(227, 230, 57);">Abhinay Maths (Youtube)</a> </li>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/c/GaganPratapMaths" target="_blank" style="color: rgb(227, 230, 57);"> Gagan Pratap Maths (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">Last Year CDS/NDA Question Papers</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Testbook (Not mandatory but if one wants to practise more he/she can go for it)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="current">Current Affairs</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/c/Governmentexamsfundaofficial" target="_blank" style="color: rgb(227, 230, 57);">Government Exam Funda (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/channel/UCV8U08mQHFfYa7L7aZP7ZeQ" target="_blank" style="color: rgb(227, 230, 57);"> Insight SSB (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/c/WorldAffairsUnacademy" target="_blank" style="color: rgb(227, 230, 57);"> World Affairs (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">Hindu or Times Of India Newspaper</li>
            </ul>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="polity">Polity</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/playlist?list=PL_K2YMR-A5WJ3KpnC6PSLN7f_BYw749xf" target="_blank" style="color: rgb(227, 230, 57);"> Harshit Dwivedi Education, M laxmikanth playlist (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">M laxmikanth</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Hindu or Times Of India Newspaper (Imp judgements, cases and parliament sessions)</li>
            </ul>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="history">History</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"><a href="https://ncert.nic.in/textbook.php" target="_blank" style="color: rgb(227, 230, 57);" >NCERT (Class 11th/12th)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">History Of Modern India By Bipan Chandra</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Hindu or Times Of India Newspaper (Important events related to past/culture)</li>
            </ul>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="geo">Geo</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://ncert.nic.in/textbook.php?kegy2=0-16" target="_blank" style="color: rgb(227, 230, 57);">NCERT Class 11 India Physical Environment Solutions</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;"><a href="https://ncert.nic.in/textbook.php?kegy1=0-7" target="_blank" style="color: rgb(227, 230, 57);">NCERT Class 11 Fundamentals of Physical Geography Solutions</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">Hindu or Times Of India Newspaper (Places in News)</li>
            </ul>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder; " id="eco">Eco</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;"> <a href="https://www.youtube.com/playlist?list=PLAMBum9_RkuPPGvD7HI9wfsDSxWwJYz94" target="_blank" style="color: rgb(227, 230, 57);">Mrunal Patel Economics Playlist (Youtube)</a></li>
                <li style="color: black; font-weight:bolder; font-size: large;">Mrunal Patel Current Affairs Related To Economics </li>
            </ul>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="display-6" style="font-weight: bolder;" id="sci">Science</h1>
        </div>
        <div class="col-sm-8">
            <ul>
                <li style="color: black; font-weight:bolder; font-size: large;">Class 9th/10th NCERT (CDS)</li>
                <li style="color: black; font-weight:bolder; font-size: large;">Class 9th/10th/11th/12th NCERT (NDA) </li>
                <a href="https://ncert.nic.in/textbook.php" target="_blank" style="color: rgb(227, 230, 57);" >Download from here</a> 
            </ul>
        </div>
    </div> 
    <hr>

</div>

{% endblock content %}
