{% extends 'layout.html' %} {% block content %}
<div class="container-fluid text=centre">
  <div class="row">
    <div class="col-sm-md-lg-8">
      <h1
        class="display-5"
        style="
          font-weight: bolder;
          font-style: italic;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
          color: rgb(248, 247, 247);
          text-align: center;
        "
      >
        What is SSB?
      </h1>
      <p
        style="
          font-size: 20px;
          color: black;
          background-color: rgb(241, 245, 245);
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        <mark style="background: rgb(223, 223, 51)">Service Selection Board(SSB)</mark> is
        a an organisation that assesses the candidates for becoming officer in
        the Indian Armed forces, on the basis of standardized protocol of
        evaluation system which constitutes personality, intelligence tests, and
        interviews. It consists of pannel of assecors like GTO(Ground testing
        officer), Interviewing Officer and Psychologist. The GTO and
        Interviewing Officer are from the Indian armed forces whereas the
        Psychologist is a DRDO scientist.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="div-8">
      <img
        class="img-fluid"
        src="/static/images/ssb.jpg"
        id="ssb_image"
        alt=""
      />
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p style="font-weight: bolder;">
        There are total 13 SSB centre in India 4 for Indian Army, 4 for Indian
        Air Force and 5 for Indian Navy.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-sm-md-6">
      <table class="table table-hover" style="background: linear-gradient(to bottom right, rgb(175, 141, 168), rgb(200, 218, 120));">
        <thead>
            <tr>
                <th scope="col-sm ">Force</th>
                <th scope="col-sm" style="color: blue ; font-weight: bolder;">SSB</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">INDIAN ARMY</th>
                <td> 
                  <ul>
                    <li>Selection Centre East, Prayagraj</li>
                    <li>Selection Centre North, Kapurthala</li>
                    <li>Selection Centre Cnetral, Bhopal</li>
                    <li>Selection Centre South, Bangalore</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">Indian Air Force</th>
                <td> 
                  <ul>
                    <li>1 AFSB Dehradun</li>
                    <li>2 AFSB Mysore</li>
                    <li>3 AFSB Gandhi Nagar</li>
                    <li>4 AFSB Varanasi</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">Indian Navy</th>
                <td> 
                  <ul>
                    <li>NSB Coimbatore</li>
                    <li>12 SSB at SSC Bangalore</li>
                    <li>33 SSB at SSC Bhopal</li>
                    <li>SSB Kolkata</li>
                    <li>NSB Vizag/Visakhapatnam</li>
                  </ul>
                </td>
              </tr>
            </tbody>
    </table>
    </div>
    <div class="col-3"></div>
  </div>
</div>
  <hr />
<div class="container-fluid text=centre">
    <div class="row">
        <div class="col-sm-md-lg-xl">
            <h3 class="display-5"
            style="
            font-weight: bolder;
            font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
            color: rgb(248, 247, 247);
            text-align: center;">Procedure</h3>
            <p style="
            font-size: 20px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: black;
            background-color: rgb(241, 245, 245);
            ">
            The candidates who have passed the UPSC examination, AFCAT examination
            or who, in the case of Territorial army have been recommended by the
            <mark style="background: rgb(216, 216, 68);">Preliminary Interview Board (PIB)</mark> are allocated an SSB
            centre to attend. Other than written exams candidates via technical
            entry and NCC special entry gets direct call letter to attend the SSB
            after fullfilling some qualification requirements. There is no right or
            wrong answer in the SSB procedure, it depends upon each candidate
            personality how they react to different questions and situations and on
            the basis of that assecors find the right   candidate to become an officer
            in the Indian Armed Forces.
            </p>
        </div>
    </div>
</div>
  <hr />
    <div class="row">
        <h4 class="display-5"
        style="
          font-weight: bolder;
          font-style: italic;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
          color: rgb(248, 247, 247);
          text-align: center;">DAY 1</h4>
        <div class="col-2"></div>
        <div class="col-sm-md-8" style="
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
        background-color: rgb(241, 245, 245); margin-right: 5px;
        ">
            <ul>
                <li>
                    <p>
                    <strong>Screening- </strong>Before the screening process starts there is a document verification and it is very important to carry all the required documents. And then candidates are made to fill some forms and after that the screening process starts. In the screening process the candidates have to go through two tests one is OIR (Officer Intelligence Rating) and another is PPDT(Picture Perception
                    and Discussion Test). <br> The OIR test includes verbal and non-verbal reasoning, the candidates are given two test booklets which contain 50 questions (approx) and the time given to solve those is 20-30 mins, it varies with respect to the number of questions. <br>In PPDT the candidates are shown a blur black and white picture for 30 seconds and than they are given 4 minutes time to write the story on the basis of what they percieved from the picture. And once the time is over their sheets are collected and the candidates are divided into groups and called for group discussion where they have to come to a common conclusion.<br>
                    Once these two tests are conducted the Interviewing officers come up with the results and those who are selected are retained and remaining candidates are told to go back.
                    </p>
                </li>
            </ul>
        <div class="col-2"></div>
        </div>
    </div>
    <div class="row">
        <h4 class="display-5"
        style="
          font-weight: bolder;
          font-style: italic;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
          color: rgb(248, 247, 247);
          text-align: center;">DAY 2</h4>
        <div class="col-2"></div>
        <div class="col-sm-md-8" style="
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
        background-color: rgb(241, 245, 245);
        ">
            <ul>
                <li>
                    <p>
                        <strong>Psychology test- </strong>It is divided into 4 parts: TAT (Thematic Appearence Test), WAT (Word Association Test), SRT (Situation Reaction Test) and SD (Self Description). <br>
                        - <u style="color: rgb(238, 85, 14);">TAT (Thematic Appearence Test): </u> It is similar to the PPDT but here the differnce is that the candidates will be shown 12 clear blck and white pictures and the 12th picture will be blank and he has to write story on those 12 pictures. The time alloted for each picture is <strong>4 minutes and 30 seconds. </strong> <br>
                        - <u style="color: rgb(238, 85, 14);" >WAT (Word Association Test): </u>The candidates will be shown 60 words, for one word he/she will get   <strong>15seconds </strong>and after that new word will appear on the screen. It is advised that candidates write short sentences so that they are able to complete all 60 words. <br>
                        - <u style="color: rgb(238, 85, 14);">SRT (Situation Reaction Test): </u> The booklet in which the candidate will write the stories and words is called dossier, and in the same dozier there will be some situations give. There will be 60 situations and there is no specific time to write one situation, overall <strong>30 minutes</strong>  time is given. The candidates has to complete as much as situations they can. <br>
                        - <u style="color: rgb(238, 85, 14);">SD (Self Description): </u> It is the last phase or test of the Psychology test, it consists of 5 questions asking about the candidate's parent's, teacher's, friend's and his or her own perception and what qualities he wants to develope in the future. So the answers for these should be prepared by the candidates before they come for SSB and the answers should be in their brain so that they can complete writing those answers in dossier in <strong>15</strong> minutes.

                    </p>
                </li>
                <li><strong>Interview: </strong>It is sometime conducted on the 2nd day after the Psychology test but can also be shifted to 3rd day and happens along with the GTO tasks. It is considered one of the most important part of the SSB. An individual candidate interview is conducted by the interviewing officer. It is mostly based on the PIQ form (filled by the candidates on day 1 after they clear the Screening process) for the freshers and for repeaters it includes more general and defense knowledge questions as compared to freshers. So be updated with the current events happeningf in the country and world specially related to geo politics.</li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="display-5"
            style="
            font-weight: bolder;
            font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
            color: rgb(248, 247, 247);
            text-align: center;">DAY 3/4</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-md-8" style="
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
        background-color: rgb(241, 245, 245);
        ">
        <p><strong>GTO- </strong>It is conducted on the third and fourth day, and there are variuos tasks included in these 2 days like Group Discussion (GD), Group Planning Exercise (GPE), Progressive Group Task (PGT), Half Group Task (HGT), Individual Obstacles, Group Obstacle Race (GOR), Command Task, Full Group Task (FGT) and Lectureete. <br>And those candidates whose interview is not taken on the 2nd day is taken in these 2 days.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="display-5"
            style="
            font-weight: bolder;
            font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
            color: rgb(248, 247, 247);
            text-align: center;">DAY 5</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-md-8" style="
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
        background-color: rgb(241, 245, 245);
        ">
        <p><strong>Conference Day- </strong>This is the last day of the SSB process. In this the candidates are told to go the conference hall according to the chest number provided to them. All interviewing officer along with th eboard president is present in the conference in which questions related to his/her experience is asked and sometimes when a candidate is at border line he is asked about some situations like SRT or the answer of the questions which he was not able to give in the interview. <br>After the conference the result is announced and the qualifying candidates are kept for further medical process.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <hr>
</div>

{% endblock content %}

