{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="align-items: center;">
    <p>To post your own blog <a href="{{ url_for('register') }}"> register here</a></p>
  </div>
</div>
<h1 class="display-6" style="text-align: center; color: white; font-weight: bolder; margin-bottom: 40px; text-shadow: 2px 2px 8px #111010; animation: fadeIn 5s;">Posts by {{ user.username }} ({{ posts.total }}) </h1>
    {% for post in posts.items %}
    <div class="container-fluid" style="margin-top: 40px; ">
        <div class="row">
            <div class="col-2" style="margin-left: 50px; margin-bottom: 10px;">
                <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_images/' + post.author.image_file) }}" alt="" style="width: 100%; height: auto;">
            </div>
            <div class="col-sm-8">
                <article class="media content-section" style="background: white;" >
                    <div class="media-body" style="background: white;">
                      <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}" style="color: rgb(8, 6, 6); font-size: large; font-weight: bolder;">{{ post.author.username }}</a>
                        <p  style="color: rgb(231, 16, 16);">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                      </div>
                      <h2 class="display-6"><a class="article-title" href="{{ url_for('post', post_id=post.id) }}"  style="color: rgb(3, 3, 3); margin-left: 8px;">{{ post.title }}</a></h2>
                      <p class="article-content" style="background-color: rgb(255, 255, 255); color:rgb(0, 0, 0)">{{ post.content }}</p>
                    </div>
                  </article>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
        
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      {% if posts.page ==page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page= page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page= page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %} 
{% endblock content %}
